body {
    font-family: 'Nunito', sans-serif;
  }
  .header {
    min-height: 800px;
    margin-bottom: 120px;
  }
  .header-table {
    width: 50%;
    height: 800px;
    background: url(../img/header-table.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .header-container {
    height: 550px;
    display: flex;
    align-items: center;
  }
  .nav-link.active {
    color: #daa520 ;
  }
  .woodies-text-center {
    display: flex;
    align-items: center;
  }
  .woodies-furniture h3 {
    color: #3e3f43;
    font-size: 2.25rem;
  }
  .woodies-furniture p {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .cucharones{
    background: url(../img/cucharones.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 384px;
    width: 32%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .text-gray{
      color: rgba(34, 34, 34, 0.2);
      font-size: 3rem;
  }
  .text-cuchara{
    padding: 9em;
  }
  .middle-container{
    height: 550px;
    display: flex;
    align-items: center;
  }
  .list{
    padding: 5em;
  }
  .bottom-middle{
    padding: 5em;
    padding-left: 27em;
  }
  .container-tres{
    height: 550px;
    display: flex;
    align-items: center;
  }
  .gallery-two{
    padding: 5em;
  }
  .we-have{
    background: url(../img/back1.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 400px;
    width: 32%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .foot{
    text-align: center;
  }
  .container-kit{
    padding: 4em;
  }
  .comment{
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .centrado{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .user{
    padding-left: 2em;
  }
  .text-foot{
    font-size: 20px;
  }
  .line-end{
    align-items: center;
  }
  .final-text{
    padding: 1em;
    font-size: 18px;
  }